@using Cinemanage.Models.TMDB
@using X.PagedList

@model MovieSearch

@{
    ViewData["Title"] = "Cinemanage";
}

@{
    int searchResults = Model.total_results;
}

<div class="container-lg">

    <div class="pb-4">
        <h3 class="mt-5">
            @searchResults Results for
            <span style="font-weight: bolder;"><strong>@ViewData["SearchTerm"]</strong></span>
        </h3>
    </div>


    <div id="blogContainer" class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var movie in Model.results)
        {
            <div class="col">
                <div class="card h-100" style="min-height: 30vh">
                    <img class="card-img-top img-fluid" id="cardImg" src="@movie.poster_path">
                    <div class="card-body text-left">
                        <div class="card-text">
                            <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.id">
                                <h2 class=" mt-1 card-title">
                                    @movie.title
                                </h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
