
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1F2122;
}

html, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #1F2122;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    max-width: 1300px;
    margin: 0 auto;
}


.row {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #1F2122;
}

nav {
    background-color: #1F2122;
}

.nav-link {
    color: white !important;
}

/*body, row {
    margin-bottom: 60px;
}*/

/*@media screen and (min-width:576px) {*/
.carousel-inner {
    padding: 1em;
    display: flex;
    -webkit-mask: linear-gradient(90deg,#0000,#000 5% 95%,#0000);
}

.carousel-item {
    display: flex;
    margin: 0;
    flex: 0 0 content;
}

.carousel .card {
    margin: 0 .5em;
    width: 180px;
    background-color: transparent;
}

/*}*/


/*.carousel-inner {
    padding: 1em;
    -webkit-mask: linear-gradient(90deg,#0000,#000 5% 95%,#0000);
}*/


.carousel-control-prev, .carousel-control-next {
    width: 2vh;
    height: 20vh;
    background-color: black;
    border-radius: 10px;
    top: 13%;
    /*transform: translateY(-50%);*/
    opacity: .5;
}


    .carousel-control-prev:hover, .carousel-control-next:hover {
        opacity: .8;
    }
/*.card {
    margin:auto;
    padding:0;
    width: 180px;
    background-color: transparent;
}*/


.card-body a {
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #6C9F9C;
}

    .card-body a:hover {
        color: #DF643A;
    }

.carousel .card img {
    border-radius: 10px;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, .50);
}

/*.clamp-overview {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}*/


/*.navbar {
    position: relative;
}*/

.navLogo {
    position: absolute;
    left: 50%;
    margin-left: -60px !important;
    /* 50% of your logo width */
    display: block;
}

.main-container {
    border-radius: 50px;
    padding: 40px;
    margin: auto;
    background-color: #27292A;
}

#header{
    border-radius:50px;
}

.home-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: center no-repeat;
    background-size: contain;
    text-align: left;
    height: 25em;
    width: 100%;
    border-radius: 50px;
 
}
    .home-header .btn {
        color: white;
        background-color: #27292A;
    }

        .home-header .btn:hover {
            background-color: #DF643A;
        }

.header-content {
    display: block;
    flex: 0 0 80%;
}

.form-control {
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
}

.btn {
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
}

.welcome-text {
    color: white;
    margin-bottom: 5%;
    /*font-family: 'Oleo Script', serif;*/
}

    .welcome-text h2 {
        font-weight:bolder;
        font-size:45px;
    }

h2 em {
    font-style: normal;
    color: #DF643A;
}

    .welcome-text p{
        font-size:20px;
    }


.category-image{
    position:relative;
    max-height:250px;
    min-width:38px;
    width:auto;
    height:auto;
    margin-top:25px;
}




@media (max-width: 767px){

    .welcome-text h2 {
        font-weight: bolder;
        font-size: 30px;
    }

}





/*#upcoming{
    background-color:black;
}*/

