html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 100px;
    background-color: #D6D6D6;
}

footer {
    background-color: white;
}

nav {
    background-color:white;
}

/*body, row {
    margin-bottom: 60px;
}*/


@media screen and (min-width:576px) {
    .carousel-inner {
        display: flex;
    }

    .carousel-item {
        display: flex;
        margin-right: 0;
        flex: 0 0 calc(100%/5);
        
    }
}

.carousel-inner {
    padding: 1px;
    
}

.card {
    margin: 0 .5em;
    width:180px;
}

/*.clamp-overview {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}*/


/*.navbar {
    position: relative;
}*/

.navLogo {
    position: absolute;
    left: 50%;
    margin-left: -65px !important;
    /* 50% of your logo width */
    display: block;
}

/* // Show content for bigger viewpoints */
@media screen and (min-width:900px), screen and (min-height:500px) {
    triple-carousel {
        display: block;
    }

    .single-carousel {
        display: none;
    }
}

/* // Show notice for smaller viewpoints */
@media screen and (max-width:900px), screen and (max-height:500px) {
    .triple-carousel {
        display: none;
    }

    .single-carousel {
        display: none;
    }
}


